<div class="footer-container">
  <div class="footer-left">
    <div class="logo-container">
      <img
        src="assets/images/SportHub-grey.png"
        alt="img"
        class="footer-logo"
      />
      <h3>SportHub Polytech</h3>
    </div>
    <p>© 2025 SportHub Polytech. All Rights Reserved.</p>
    <button class="admin-button" (click)="toggleLoginForm()">
      <i class="fas fa-lock" style="color: grey"></i>
    </button>

    <div *ngIf="showLoginForm" class="admin-login-form">
      <input type="email" [(ngModel)]="adminEmail" placeholder="Email" />
      <input
        type="password"
        [(ngModel)]="adminPassword"
        placeholder="Password"
      />
      <button (click)="login()">Login</button>
      <p *ngIf="loginError" class="error">Invalid email or password.</p>
    </div>
  </div>
  <div class="footer-right">
    <h4>Connect with Us</h4>
    <div class="buttons-container">
      <button
        onclick="window.open('https://polytech.cv.ua', '_blank');"
        class="button"
      >
        <i class="fas fa-globe"></i>
      </button>
      <button
        onclick="window.open('https://instagram.com/polytech_cv_ua/', '_blank');"
        class="button"
      >
        <i class="fab fa-instagram"></i>
      </button>
      <button
        onclick="window.open('https://instagram.com/sportclubpolytech/', '_blank');"
        class="button"
      >
        <i class="fab fa-instagram"></i>
      </button>
    </div>
  </div>
</div>
