<div class="main-container">
  <div class="half-container">
    <h1>Tornament events</h1>
    <div class="event-group-container">
      <div class="event-card">
        <div class="image-container">
          <img src="assets/images/ball.png" alt="img" />
        </div>
        <div class="info">
          <h3>Volleyball Tournament between groups 2024-2025</h3>
        </div>
        <div class="buttons-container">
          <div class="tooltip">
            <button
              class="button-details"
              [routerLink]="['/event-details']"
            ></button>
            <span class="tooltip-text">Details</span>
          </div>
          <div class="tooltip">
            <button
              class="button-results"
              [routerLink]="['/event-results']"
            ></button>
            <span class="tooltip-text">Results</span>
          </div>
        </div>
      </div>

      <div class="event-card">
        <div class="image-container">
          <img src="assets/images/ball.png" alt="img" />
        </div>
        <div class="info">
          <h3>Basketball Tournament between groups 2023-2024</h3>
        </div>
        <div class="buttons-container">
          <div class="tooltip">
            <button
              class="button-details"
              [routerLink]="['/event-details']"
            ></button>
            <span class="tooltip-text">Details</span>
          </div>
          <div class="tooltip">
            <button
              class="button-results"
              [routerLink]="['/event-results']"
            ></button>
            <span class="tooltip-text">Results</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="half-container">
    <h1>Table events</h1>
    <div class="event-group-container">
      <div class="event-card">
        <div class="image-container">
          <img src="assets/images/ball.png" alt="img" />
        </div>
        <div class="info">
          <h3>Badminton Tournament between students 2024-2025</h3>
        </div>
        <div class="buttons-container">
          <div class="tooltip">
            <button
              class="button-details"
              [routerLink]="['/event-details']"
            ></button>
            <span class="tooltip-text">Details</span>
          </div>
          <div class="tooltip">
            <button
              class="button-results"
              [routerLink]="['/event-results']"
            ></button>
            <span class="tooltip-text">Results</span>
          </div>
        </div>
      </div>

      <div class="event-card">
        <div class="image-container">
          <img src="assets/images/ball.png" alt="img" />
        </div>
        <div class="info">
          <h3>Armwrestling Tournament between students 2023-2024</h3>
        </div>
        <div class="buttons-container">
          <div class="tooltip">
            <button
              class="button-details"
              [routerLink]="['/event-details']"
            ></button>
            <span class="tooltip-text">Details</span>
          </div>
          <div class="tooltip">
            <button
              class="button-results"
              [routerLink]="['/event-results']"
            ></button>
            <span class="tooltip-text">Results</span>
          </div>
        </div>
      </div>

      <div class="event-card">
        <div class="image-container">
          <img src="assets/images/ball.png" alt="img" />
        </div>
        <div class="info">
          <h3>Long Jump Tournament between students 2023-2024</h3>
        </div>
        <div class="buttons-container">
          <div class="tooltip">
            <button
              class="button-details"
              [routerLink]="['/event-details']"
            ></button>
            <span class="tooltip-text">Details</span>
          </div>
          <div class="tooltip">
            <button
              class="button-results"
              [routerLink]="['/event-results']"
            ></button>
            <span class="tooltip-text">Results</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
