<div class="header-container">
  <div class="header-left">
    <img src="assets/images/SportHub.png" alt="SportHub" class="logo" />
    <h2>SportHub - Polytech - Admin</h2>
  </div>
  <div class="header-right">
    <h3><a routerLink="/admin-main/admin-sports">Sports</a></h3>
    <h3>|</h3>
    <h3><a routerLink="/admin-main/admin-events">Events</a></h3>
    <h3>|</h3>
    <h3><a routerLink="/admin-main/admin-events-results">Event results</a></h3>
    <h3>|</h3>
    <h3><a routerLink="/admin-main/admin-coaches">Coaches</a></h3>
    <h3>|</h3>
    <h3><a routerLink="/admin-main/admin-teams">Teams</a></h3>
    <h3>|</h3>
    <h3><a routerLink="/admin-main/admin-players">Players</a></h3>
  </div>
</div>
