<div class="main-container">
    <div class="left-container">
        <h1>Sport Details</h1>
        <div class="SportInfo">
            <div class="img-container">
                <img src="assets/images/ball.png" alt="">
            </div>
            <div class="info-container">
                <p>Волейбол — це танець командного духу на межі неба й землі. М’яч летить, як блискавка, а кожен дотик — це крок до перемоги. Тут важлива не тільки сила, а й відчуття ритму, злагодженість і миттєва реакція. Волейбол — гра, де кожен політ м’яча створює нову історію.</p>

            </div>
        </div>
        <div class="TeamInfo">
            <div class="team-card">
                <div class="left-container">
                    <div class="title">
                        <h1>Volleyball team</h1>
                        <img src="assets/images/gender_male.png" alt="">
                    </div>
                    <div class="coach">
                        <div class="img">
                            <img src="assets/images/profile.jpg" alt="img">
                        </div>
                        <h3>Tihonovskiy Oleksandr Oleksandrovich</h3>
                    </div>
                </div>
                <div class="right-container">
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                    <div class="player-card">
                        <img src="assets/images/profile.jpg" alt="">
                        <span>name</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-container">
        <h2>Form</h2>
    </div>
</div>