<div class="main-container" *ngIf="sport">
  <div class="left-container">
    <h1>{{ sport.name }}</h1>
    <div class="SportInfo">
      <div class="img-container">
        <img
          [src]="sport.photo || 'assets/images/ball.png'"
          alt="{{ sport.name }}"
        />
      </div>
      <div class="info-container">
        <p>{{ sport.name || "No description available." }}</p>
      </div>
    </div>

    <div class="TeamInfo">
      <div class="team-card" *ngFor="let team of sport.teams">
        <div class="left-container">
          <div class="title">
            <h1>{{ team.name }}</h1>
            <img
              [src]="
                team.gender === 'Male'
                  ? 'assets/images/gender_male.png'
                  : 'assets/images/gender_female.png'
              "
              alt="{{ team.gender }}"
            />
          </div>

          <div class="coach" *ngIf="team.coach">
            <div class="img">
              <img
                [src]="team.coach.photo || 'assets/images/profile.jpg'"
                alt="{{ team.coach.name }}"
              />
            </div>
            <h3>{{ team.coach.name }}</h3>
          </div>
        </div>

        <div class="right-container">
          <div class="player-card" *ngFor="let player of team.players">
            <img
              [src]="player.photo || 'assets/images/profile.jpg'"
              alt="{{ player.name }}"
            />
            <span>{{ player.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <h2>Request to Join the Event</h2>
    <form [formGroup]="form" (ngSubmit)="submitJoinRequest()">
      <div class="field">
        <label for="memberName">Name</label>
        <input type="text" id="memberName" formControlName="memberName" />
        <div
          *ngIf="
            form.get('memberName')?.invalid && form.get('memberName')?.touched
          "
          class="error"
        >
          Name is required.
        </div>
      </div>

      <div class="field">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" id="phoneNumber" formControlName="phoneNumber" />
        <div
          *ngIf="
            form.get('phoneNumber')?.invalid && form.get('phoneNumber')?.touched
          "
          class="error"
        >
          Phone number is required.
        </div>
      </div>

      <div class="field">
        <label for="additionalInfo">Additional Information</label>
        <input
          type="text"
          id="additionalInfo"
          formControlName="additionalInfo"
        />
      </div>

      <div class="field">
        <label for="groupNumber">Group Number</label>
        <input type="text" id="groupNumber" formControlName="groupNumber" />
        <div
          *ngIf="
            form.get('groupNumber')?.invalid && form.get('groupNumber')?.touched
          "
          class="error"
        >
          Group Number is required.
        </div>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <div
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="error"
        >
          Please enter a valid email address.
        </div>
      </div>

      <button class="buttonForm" type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
