<div class="main-container" *ngIf="sport">
  <div class="left-container">
    <h1>{{ sport.name }}</h1>
    <div class="SportInfo">
      <div class="img-container">
        <img
          [src]="sport.photo || 'assets/images/ball.png'"
          alt="{{ sport.name }}"
        />
      </div>
      <div class="info-container">
        <p>{{ sport.name || "No description available." }}</p>
      </div>
    </div>

    <div class="TeamInfo">
      <div class="team-card" *ngFor="let team of sport.teams">
        <div class="left-container">
          <div class="title">
            <h1>{{ team.name }}</h1>
            <img
              [src]="
                team.gender === 'Male'
                  ? 'assets/images/gender_male.png'
                  : 'assets/images/gender_female.png'
              "
              alt="{{ team.gender }}"
            />
          </div>

          <div class="coach" *ngIf="team.coach">
            <div class="img">
              <img
                [src]="team.coach.photo || 'assets/images/profile.jpg'"
                alt="{{ team.coach.name }}"
              />
            </div>
            <h3>{{ team.coach.name }}</h3>
          </div>
        </div>

        <div class="right-container">
          <div class="player-card" *ngFor="let player of team.players">
            <img
              [src]="player.photo || 'assets/images/profile.jpg'"
              alt="{{ player.name }}"
            />
            <span>{{ player.name }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="right-container">
    <h2>Request to join the team</h2>
    <form action="">
      <div class="field">
        <label for="memberName">Name</label>
        <input type="text" id="memberName" />
      </div>
      <div class="field">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" />
      </div>
      <div class="field">
        <label for="groupNumber">Group</label>
        <input type="text" id="groupNumber" />
      </div>
      <div class="field">
        <label for="additionalInfo">Information</label>
        <input type="text" id="additionalInfo" />
      </div>
      <button class="buttonForm">Submit</button>
    </form>
  </div>
</div>
