<div class="main-container">
  <div class="team-card" *ngFor="let team of teams">
    <div class="left-container">
      <div class="title">
        <h1>{{ team.name }} team</h1>
        <img
          [src]="
            team.gender.toLowerCase() === 'male'
              ? 'assets/images/male.png'
              : 'assets/images/female.png'
          "
          alt="gender"
        />
      </div>
      <div class="coach" *ngIf="team.coach">
        <div class="img">
          <img
            [src]="
              team.coach.photo ? team.coach.photo : 'assets/images/profile.jpg'
            "
            alt="Coach"
          />
        </div>
        <h3>{{ team.coach.name }}</h3>
      </div>
    </div>

    <div class="right-container">
      <div class="player-card" *ngFor="let player of team.players">
        <img src="assets/images/profile.jpg" alt="Player" />
        <span>{{ player.name }}</span>
      </div>
    </div>
  </div>
</div>
