<div class="main-container">
    <div class="team-card">
        <div class="left-container">
            <div class="title">
                <h1>Volleyball team</h1>
                <img src="assets/images/gender_male.png" alt="">
            </div>
            <div class="coach">
                <div class="img">
                    <img src="assets/images/profile.jpg" alt="img">
                </div>
                    <h3>Tihonovskiy Oleksandr Oleksandrovich</h3>
            </div>
        </div>
        <div class="right-container">
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
        </div>
    </div>

    <div class="team-card">
        <div class="left-container">
            <div class="title">
                <h1>Basketball team</h1>
                <img src="assets/images/gender_female.png" alt="">
            </div>
            <div class="coach">
                <div class="img">
                    <img src="assets/images/profile.jpg" alt="img">
                </div>
                    <h3>Sarah Johnson</h3>
            </div>
        </div>
        <div class="right-container">
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
            <div class="player-card">
                <img src="assets/images/profile.jpg" alt="">
                <span>name</span>
            </div>
        </div>
    </div>
</div>