<div class="main-container">
  <div class="coach-card">
    <div class="top-container">
      <div class="img">
        <img src="assets/images/profile.jpg" alt="img" />
      </div>
      <div class="info">
        <h3>Tihonovskiy Oleksandr Oleksandrovich</h3>
        <span
          >Head coach with over 20 years of experience in volleyball,
          specializing in player development and team strategy.</span
        >
      </div>
    </div>
    <div class="sports">
      <div class="sport">
        <span>Volleyball</span>
      </div>
      <div class="sport">
        <span>Basketball</span>
      </div>
      <div class="sport">
        <span>Football</span>
      </div>
    </div>
  </div>

  <div class="coach-card">
    <div class="top-container">
      <div class="img">
        <img src="assets/images/profile.jpg" alt="img" />
      </div>
      <div class="info">
        <h3>Sarah Johnson</h3>
        <span
          >Professional badminton coach known for leading teams to national
          championships and building strong defensive skills.</span
        >
      </div>
    </div>
    <div class="sports">
      <div class="sport">
        <span>Badminton</span>
      </div>
      <div class="sport">
        <span>Athletics</span>
      </div>
    </div>
  </div>
</div>
