<div class="main-container" *ngIf="event">
  <div class="left-container">
    <div class="title-container">
      <h1>{{ event.name }}</h1>
    </div>
    <div class="top-container">
      <div class="image-container">
        <img
          [src]="event.sport.photo || 'assets/images/ball.png'"
          alt="Sport"
        />

        <div class="buttons-container">
          <div class="tooltip">
            <button>
              <img [src]="getTypeEventIcon(event.typeEvent)" alt="type" />
            </button>
            <span class="tooltip-text">{{ event.typeEvent }}</span>
          </div>
          <div class="tooltip">
            <button>
              <img [src]="getFormatIcon(event.format)" alt="format" />
            </button>
            <span class="tooltip-text">{{ event.format }}</span>
          </div>
          <div class="tooltip">
            <button>
              <img [src]="getGenderIcon(event.gender)" alt="gender" />
            </button>
            <span class="tooltip-text">{{ event.gender }}</span>
          </div>
        </div>
      </div>

      <div class="description-container">
        <p>{{ event.description || "No description provided." }}</p>
        <div class="dates-container">
          <div>
            <h3>{{ event.startDate | date : "dd.MM.yyyy" }}</h3>
          </div>
          <div>
            <h3>{{ event.endDate | date : "dd.MM.yyyy" }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <h2>Request to join the event</h2>
    <form [formGroup]="form" (ngSubmit)="submitJoinRequest()">
      <div class="field">
        <label for="memberNames">Member Names</label>
        <input type="text" id="memberNames" formControlName="memberNames" />
        <div
          *ngIf="
            form.get('memberNames')?.invalid && form.get('memberNames')?.touched
          "
          class="error"
        >
          Member Names are required.
        </div>
      </div>

      <div class="field">
        <label for="memberCount">Member Count</label>
        <input
          type="number"
          id="memberCount"
          formControlName="memberCount"
          min="1"
        />
        <div
          *ngIf="
            form.get('memberCount')?.invalid && form.get('memberCount')?.touched
          "
          class="error"
        >
          Member Count is required and must be greater than 0.
        </div>
      </div>

      <div class="field">
        <label for="groupNumber">Group Number</label>
        <input type="text" id="groupNumber" formControlName="groupNumber" />
        <div
          *ngIf="
            form.get('groupNumber')?.invalid && form.get('groupNumber')?.touched
          "
          class="error"
        >
          Group Number is required.
        </div>
      </div>

      <div class="field">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
        <div
          *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
          class="error"
        >
          Please enter a valid email address.
        </div>
      </div>

      <button class="buttonForm" type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
