<div class="main-container">
  <div class="left-container">
    <div class="top-container">
      <div class="image-container">
        <img src="assets/images/ball.png" alt="img" />
      </div>
      <div class="dates-container">
        <h3>start date: 05.06.2025</h3>
        <h3>end date: 07.06.2025</h3>
      </div>
    </div>
    <div class="bottom-container">
      <h1>Volleyball Tournament between groups 2024-2025</h1>
    </div>
  </div>
  <div class="right-container">
    <h2>Request to join the event</h2>
    <form action="">
      <div class="field">
        <label for="memberName">Name</label>
        <input type="text" id="memberName" />
      </div>
      <div class="field">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" id="phoneNumber" />
      </div>
      <div class="field">
        <label for="groupNumber">Group</label>
        <input type="text" id="groupNumber" />
      </div>
      <div class="field">
        <label for="additionalInfo">Information</label>
        <input type="text" id="additionalInfo" />
      </div>
      <button class="buttonForm">Submit</button>
    </form>
  </div>
</div>
